[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
pydantic = "*"
pydantic-settings = "*"
sqlalchemy = "*"
mysql-connector-python = "*"
pyparsing = "*"

[dev-packages]
gitlint = '*'
autopep8 = "*"
pylint = "*"

[requires]
python_version = "3.12"
